h1 {
    text-align: right;
    width: 50%;
    font-weight: normal;
    text-decoration: 10px purple wavy underline;
    font-size: 80px;
}

p {
    text-align: right;
    line-height: 2;
    letter-spacing: 10px;
}